workspaces/IFI/source-code/Reference Source Code/WebSystems_DiamondQuickQuotePages/App_WebReferences/CRS/ComparativeRatingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Diamond.IntegrationServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Diamond.IntegrationServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WorkflowInformation">
    <xs:sequence>
      <xs:element name="AgencyId" type="xs:int" />
      <xs:element name="TransactionUsersId" type="xs:int" />
      <xs:element name="ValidationMessages" nillable="true" type="xs:string" />
      <xs:element name="WorkflowQueueId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkflowInformation" nillable="true" type="tns:WorkflowInformation" />
</xs:schema>